.cards-container{
    transition-duration: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2em;
}

.add-hero-button {  
    border: 5px solid white;
    align-self: center;
    align-content: center;
    border-radius: 5px;
    font-size: 70px;
    color: white;
    padding: 80px;
}

.add-hero-button:hover {
    background-color: green;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}